body {
    margin: 0 150px;
    background-color: rgb(30, 30, 30);
    color: white;
}

img {
    cursor: pointer;
}

.movie-poster {
    width: 200px;
    height: 300px
}

button {
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 30);
    border: none;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(20, 20, 20);
}

#logo {
    width: 300px;
}

#github-logo {
    margin-top: 5px;
    height: 50px;
}

#github-logo:hover {
    margin-top: 0;
    height: 60px;
}

#best-movie, .carousel {
    background-color: rgb(50, 50, 50);
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
}

#genre {
    text-transform: uppercase;
    margin: 80px 0;
    color:rgb(180, 180, 180);
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 15px;
}

#navbar {
    padding: 50px 50px 0 20px;
    background-color: rgb(30, 30, 30);
    display: flex;
}

#navbar > div {
    margin-left: auto;
    align-self: center;
    display: flex;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 23px;
    margin-right: 50px;
}

#home:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: rgb(50, 50, 50);
    width: 165px;
    padding-bottom: 10px;
}

.dropdown__content .offset {
    background-color: rgb(30, 30, 30);
    height: 10px;
}

.dropdown__content span {
    color: rgb(150, 150, 150);
    font-size: 20px;
    padding: 10px 10px 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown__content span:hover {
    color: white;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    overflow: auto;
}

#modal-content {
    margin: 2% auto;
    width: 60%;
    min-width: 400px;
    max-width: 800px;
}

#modal-header {
    background: rgb(80, 80, 80);
    padding: 10px 10px 10px 20px;
}

#modal-header img {
    filter: invert(49%) sepia(0%) saturate(0%) hue-rotate(319deg) brightness(96%) contrast(96%);
    float: right;
}
  
#modal-header img:hover {
    filter: invert(97%) sepia(100%) saturate(13%) hue-rotate(191deg) brightness(102%) contrast(106%);
    text-decoration: none;
    cursor:  pointer;
}

#modal-header h3 {
    font-size: 35px;
    margin-bottom: 0;
}

#modal-header p {
    color: rgb(200, 200, 200);
}
  
#modal-body {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
    padding: 20px 30px 30px 30px;
}

#modal-body p {
    margin-top: 0;
    margin-bottom: 20px;
}

#modal-body hr {
    height: 1px;
    border: none;
    background-color: rgb(150, 150, 150);
}

#modal-body div {
    margin-top: 25px;
    display: flex;
}

#modal-body ul {
    margin-top: 0;
    margin-left: 10px;
}

#modal-body li {
    list-style: circle;
    margin-bottom: 7px;
}

#best-movie .movie-poster {
    margin-right: 20px;
}

#best-movie h3 {
    font-size: 35px;
    margin-top: 0;
}

#best-movie p {
    margin-bottom: 25px;
}

#best-movie button {
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
}

.carousel {
    justify-content: center;
}

.carousel > div {
    overflow: hidden;
    max-width: 90%;
    margin: 0 50px;
}

.carousel__image-list {
    transition: transform 0.3s;
    width: 10000px;
}

.carousel button {
    font-size: 20px;
    margin: 120px 0;
    padding: 5px 8px 3px 8px;
    border-radius: 7px;
}

footer {
    border-top: 1px solid rgb(80, 80, 80);
    margin-top: 70px;
    padding-top: 20px;
    text-align: center;
    height: 140px;
    background-color: rgb(30, 30, 30);
}

@media screen and (max-width: 1000px) {

    body {
        margin: 0 50px;
    }

    #modal-body div {
        display: block;
        text-align: center;
    }

    #modal-body ul {
        padding: 0;
        margin-left: 0;
        margin-top: 20px;
    }
    
    #modal-body li {
        list-style: none;
        margin-bottom: 12px;
    }

}

@media screen and (max-width: 800px) {

    #logo {
        width: 250px;
    }

    #navbar > div {
        margin-top: 20px;
    }

    .navbar-link {
        font-size: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
    }

    .dropdown__content {
        width: 128px;
        padding-bottom: 10px;
    }

    .dropdown__content span {
        font-size: 17px;
    }

}

@media screen and (max-width: 600px) {

    body {
        margin: 0;
    }

    h2 {
        text-align: center;
    }

    #home:hover {
        text-decoration: none;
    }

    .dropdown__content {
        background-color: rgb(80, 80, 80);
        width: 100px;
    }

    .dropdown__content span {
        padding: 5px;
    }

    #genre {
        font-size: 20px;
        margin: 40px 0 30px 0;
        text-underline-offset: 10px;
    }

    #best-movie, .carousel {
        padding: 10px;
    }

    .movie-poster {
        width: 150px;
        height: 225px
    }

    #navbar {
        padding-top: 20px;
        display: block;
    }

    #navbar > div {
        margin-top: 20px;
        display: block;
    }

    .navbar-link {
        font-size: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
    }

    #best-movie {
        padding: 20px 10px;
        text-align: center;
        display: block;
    }

    #best-movie .movie-poster {
        margin-right: 0;
    }
    
    #best-movie h3 {
        font-size: 25px;
        margin-top: 10px;
    }
    
    #best-movie p {
        text-align: justify;
        margin-bottom: 25px;
    }

    .carousel .movie-poster {
        padding-top: 23px;
    }

    #modal-content {
        margin: auto;
        width: 100%;
        min-width: 0;
        max-width: 800px;
    }

    #modal-body {
        padding: 10px;
    }

}
