body {
    margin: 0 150px;
    background-color: rgb(30, 30, 30);
    color: white;
}

img {
    cursor: pointer;
}

button {
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 30);
    border: none;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(20, 20, 20);
}

.movie-poster {
    width: 200px;
    height: 300px
}

#juststreamit-logo {
    width: 300px;
}

#github-logo {
    margin-top: 5px;
    height: 50px;
}

#github-logo:hover {
    margin-top: 0;
    height: 60px;
}

.navbar {
    padding: 50px 50px 0 20px;
    background-color: rgb(30, 30, 30);
    display: flex;
}

.navbar__container {
    margin-left: auto;
    align-self: center;
    display: flex;
}

.nav-link, .dropdown__button {
    color: white;
    font-size: 23px;
    margin-right: 50px;
    padding: 10px 0;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.dropdown__button {
    font-family: initial;
}

.dropdown__button:hover {
    background-color: rgb(30, 30, 30);;
}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: rgb(50, 50, 50);
    width: 165px;
    padding: 10px 0;
}

.dropdown__content .genre {
    color: rgb(150, 150, 150);
    font-size: 20px;
    padding: 5px 0 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown__content .genre:hover {
    color: white;
    cursor: pointer;
}

#selected-genre {
    text-transform: uppercase;
    margin: 80px 0;
    color:rgb(180, 180, 180);
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.best-movie, .carousel {
    background-color: rgb(50, 50, 50);
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
}

.best-movie .movie-poster {
    margin-right: 20px;
}

.best-movie__title {
    font-size: 35px;
    margin-top: 0;
}

.best-movie__description {
    margin-bottom: 25px;
}

.best-movie__button {
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
}

.carousel {
    justify-content: center;
}

.carousel__container {
    overflow: hidden;
    margin: 0 50px;
}

.carousel__movie-poster-list {
    transition: transform 0.3s;
    width: 10000px;
}

.carousel__button {
    font-size: 20px;
    margin: 120px 0;
    padding: 5px 8px 3px 8px;
    border-radius: 7px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    overflow: auto;
}

.modal__content {
    margin: 2% auto;
    width: 60%;
    min-width: 400px;
    max-width: 800px;
}

.modal__header {
    background: rgb(80, 80, 80);
    padding: 10px 10px 10px 20px;
}

.modal__close-button {
    filter: invert(49%) sepia(0%) saturate(0%) hue-rotate(319deg) brightness(96%) contrast(96%);
    float: right;
}
  
.modal__close-button:hover {
    filter: invert(97%) sepia(100%) saturate(13%) hue-rotate(191deg) brightness(102%) contrast(106%);
    text-decoration: none;
    cursor:  pointer;
}

.modal__movie-title {
    font-size: 35px;
    margin-bottom: 0;
}

.modal__sub-title {
    color: rgb(200, 200, 200);
}
  
.modal__body {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
    padding: 20px 30px 30px 30px;
}

.modal__movie-long-description {
    margin-top: 0;
    margin-bottom: 20px;
}

.modal__body hr {
    height: 1px;
    border: none;
    background-color: rgb(150, 150, 150);
}

.modal__movie-details-container {
    margin-top: 25px;
    display: flex;
}

.modal .movie-poster {
    cursor: initial;
}

.modal__movie-details-list {
    margin-top: 0;
    margin-left: 10px;
}

.modal__movie-details-list li {
    list-style: circle;
    margin-bottom: 7px;
}

footer {
    border-top: 1px solid rgb(80, 80, 80);
    margin-top: 70px;
    padding-top: 20px;
    text-align: center;
    height: 140px;
    background-color: rgb(30, 30, 30);
}

@media screen and (max-width: 1000px) {

    body {
        margin: 0 50px;
    }

    .modal__movie-details-container {
        display: block;
        text-align: center;
    }

    .modal__movie-details-list {
        padding: 0;
        margin-left: 0;
        margin-top: 20px;
    }
    
    .modal__movie-details-list li {
        list-style: none;
        margin-bottom: 12px;
    }

}

@media screen and (max-width: 800px) {

    #juststreamit-logo {
        width: 250px;
    }

    .navbar__container {
        margin-top: 20px;
    }

    .nav-link, .dropdown__button {
        font-size: 20px;
        margin-right: 20px;
        padding: 10px 0;
    }

    .dropdown__content {
        width: 128px;
        padding: 8px 0;
    }

    .dropdown__content .genre {
        font-size: 17px;
        padding: 4px 0 4px 10px;
    }

}

@media screen and (max-width: 600px) {

    body {
        margin: 0;
    }

    h2 {
        text-align: center;
    }

    .movie-poster {
        width: 150px;
        height: 225px
    }

    .navbar {
        padding: 20px;
        display: block;
    }

    .navbar__container {
        margin-top: 20px;
        display: block;
    }

    .nav-link, .dropdown__button {
        margin: 0 0 0 10px;
    }

    .dropdown__content {
        width: 100px;
        margin-left: 10px;
    }

    #selected-genre {
        font-size: 25px;
        margin: 45px 0;
        text-underline-offset: 10px;
    }

    .best-movie, .carousel {
        padding: 10px;
    }

    .best-movie {
        padding: 20px 10px;
        text-align: center;
        display: block;
    }

    .best-movie .movie-poster {
        margin-right: 0;
    }
    
    .best-movie__title {
        font-size: 25px;
        margin-top: 10px;
    }
    
    .best-movie__description {
        text-align: justify;
        margin-bottom: 25px;
    }

    .carousel .movie-poster {
        padding-top: 23px;
    }

    .modal__content {
        margin: auto;
        width: 100%;
        min-width: 0;
        max-width: 800px;
    }

    .modal__body {
        padding: 10px;
    }

}
